@import "_base";
@import "_view";

.new-task {
    display: flex;
    justify-content: center;
    margin: 2rem;
    width: 20rem;
    min-height: 20rem;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.352);

    form {
        margin-top: 0.5rem;
        display: flex;
        align-items: center;
        flex-direction: column;

        .heading {
            font-family: "poppins-bold";
        }

        .task-text {
            margin: 0.5rem;
            border-radius: 0.3rem;
            height: 1.5rem;
            font-size: 1rem;
            text-align: center;
            font-family: "poppins-regular";
            border-style: solid;
            width: 15rem;
            box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.352);
        }

        .txt-content {
            margin: 0.5rem;
            border-radius: 0.3rem;
            resize: none;
            font-size: 1rem;
            font-family: "poppins-regular";
            border-width: 0.1rem;
            border-style: solid;
            width: 15rem;
            box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.352);
        }

        .buttons {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100%;

            .ad-picture {
                margin-top: 1rem;
                cursor: pointer;
                font-family: "poppins-regular";
                font-size: 0.8rem;
                border: 2px solid $dark-grey;
                height: 1.5em;
                text-align: center;

                width: 6rem;
                border-radius: 2rem;
                box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.352);

                &:hover {
                    background-color: $green;
                }

                &:active {
                    font-size: 0.7rem;
                }

                .img[type="file"] {
                    display: none;
                }
            }

            .ad-btn {
                margin-top: 1rem;
                cursor: pointer;
                font-family: "poppins-regular";
                font-size: 0.8rem;
                border: 2px solid $dark-grey;
                text-align: center;
                background-color: white;
                width: 6rem;
                height: 1.8em;
                border-radius: 2rem;
                box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.352);
                padding: 0;

                &:hover {
                    background-color: $green;
                }

                &:active {
                    font-size: 0.7rem;
                }
            }
        }
    }
}