/* Colors */

$red: rgba(255, 105, 97);
$redHover: rgb(252, 142, 137);
$black: rgba(29, 28, 26);
$white: rgb(239, 237, 236);
$pink: rgba(225, 138, 170);
$purple: rgba(174, 156, 214);
$light-grey: rgba(156, 171, 212);
$dark-grey: rgba(49, 51, 53);
$green: rgba(183, 233, 193);
$greenHover: rgb(211, 255, 220);
$blue: rgba(167, 199, 231);
$blueHover: rgb(203, 221, 239);
$dark: rgba(49, 69, 69);
$dark2: rgb(111, 135, 135);
$dark3: rgb(127, 154, 154);
$orange: (
  rgb(255, 170, 65)
);
$orangeHover: (
  rgb(255, 198, 128)
);

/* Fonts */

// headers
@font-face {
  font-family: "ubuntu-thin";
  src: url(/assets/fonts/Ubuntu-Light.ttf);
}

@font-face {
  font-family: "ubuntu-regular";
  src: url(/assets/fonts/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: "ubuntu-bold";
  src: url(/assets/fonts/Ubuntu-Bold.ttf);
}

// text
@font-face {
  font-family: "poppins-thin";
  src: url(/assets/fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: "poppins-regular";
  src: url(/assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "poppins-bold";
  src: url(/assets/fonts/Poppins-Bold.ttf);
}

@mixin desktop {
  @media screen and (min-width: 500px) {
    @content;
  }
}


* {
  margin: 0px;
}

.previous {
  position: absolute;
  top: 1rem;
  left: 0.3rem;

  @include desktop {
    left: 1rem;
  }

  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  margin: 0.2rem;
  padding: 0.2rem;
  color: black;
  text-decoration: none;
  border: 2px solid $dark-grey;
  border-radius: 2rem;
  width: 6rem;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.352);
  text-align: center;
  font-family: "poppins-bold";
  font-size: 0.8rem;
  background-color: $white;

  &:hover {
    border: 2px solid grey;
    color: grey;
  }

  &:active {
    border: 2px solid grey;
  }

  img {
    margin-right: auto;
  }

  span {
    margin-right: auto;
  }
}

.hidden {
  display: none;
}