header {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading1 {
  font-family: "ubuntu-bold";
  width: 20rem;
  text-align: center;
  font-size: 3rem;
}