@import "_base";
@import "_view";
@import "_addTask";
@import "_header";
@import "_task-list";
@import "_footer";

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $white;

  .message {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.352);
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    background-color: $green;

    .mess {
      font-family: "poppins-regular";
      font-size: 1rem;
    }
  }
}